
body {
  margin: 0;
  background-color: #111111;
  color: #d5d3d3;
  font-family: 'Inter', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
